/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace renderers "renderers.*";
@namespace components "components.*";

s|ActionBar
{
	chromeColor:#587297;
	skinClass: ClassReference("skins.MyActionBarSkin");
	titleAlign:center;
}
s|TabbedViewNavigator #tabBar
{
	chromeColor:#587297;
	skinClass: ClassReference("skins.MyTabBarSkin");
}
.courseListItemMessage
{
	color: #666666;
	height: 28;
	verticalAlign: bottom;
}
.courseListItemMessageWatchable
{
	color: #319ED7;
	height: 28;
	verticalAlign: bottom;
}
.courseListItemMessageLive
{
	color: #FF0000;
	height: 28;
	verticalAlign: bottom;
}
.subChannelItem
{
	backgroundColor: #319ED7;
	borderColor: #0C3170;
	borderWeight: 2;
	color: #ffffff;
	textAlign: center;
	verticalAlign: middle;
}
.messageListItem
{
	fontSize:20;
}
#lblRegister
{
	textDecoration: underline;
}
#playProgress
{
	color: #FFFFFF;
	textShadowAlpha: .65;
	textShadowColor: #000000;
}
@media (application-dpi:320)
{
	s|TabbedViewNavigatorApplication {fontSize:24;}
	
	.captionText {fontSize:30;}
	.linkText {textDecoration:underline;}
	
	s|List {fontSize:30;}
	renderers|CourseItemRenderer, s|IconItemRenderer {fontSize:30;}
	renderers|CourseItemRenderer s|Label, s|IconItemRenderer s|Label {fontSize:24;}
	.historyMessage {color:#999999;fontSize:24;}
	
	components|SearchField {fontSize:30;}
}

renderers|StyledIconItemRenderer
{
	borderStyle: rounded;
	borderWeight: 1;
	cornerRadius: 10;
}
.versionNumber
{
	color: #666666;
	fontSize: 30;
	verticalAlign: bottom;
}

@media (application-dpi: 240)
{
	renderers|StyledIconItemRenderer
	{
		cornerRadius: 15;
	}
}

@media (application-dpi: 320)
{
	renderers|StyledIconItemRenderer
	{
		borderWeight: 2;
		cornerRadius: 20;
	}
}